.container {
    display: flex;
    background-color: white;
    padding: 10px;
    align-items: center;
    list-style-type: none;
   
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px 10px;
}

.footer-logo {
    display: flex;
    margin-left: auto;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}


@media all and (max-width: 770px) {
    .contact-info {
        display: inline-block;
        border: 1px solid black; 
        margin-left: 20px;
    }
    
}

@media all and (max-width: 550px) {
    .footer-logo {
        visibility: hidden;
    }
}
