.container-2 {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.main {
    background-color: white;
   margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    justify-content: center;
   align-items: center;

}

.boxed {
    border: 2px solid black; 
    padding: 10px; 
    margin: 10px 0; 
    
}


.price {
    display: inline-flex;
   
}

@media all and (max-width: 900px) {
    .main {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        margin-right: 200px;
}
}



