.navbar-container {
     display: flex;
     background-color: white;
     align-items: center;
     width: 100%;
     padding: 10px;
     list-style-type: none;
    
}

.logo {
    margin-left: 20px;
    
}

.links {
    display: inline-flex;
    color:black;
    margin-left: auto;   /*makes it go to the right*/
    margin-right: 40px;
    justify-content: space-between;    /*Must put justify-content first then change the distance inbetween each with the margin in the next row*/
    list-style-type: none;
}

.links li {
    margin: 0 20px;
}


@media all and (max-width: 865px) {
    .navbar {
        display: inline-block;
        padding: 10px;
    }
}
