.navbar {
    background-color: white;
     display: inline-flex;
     align-items: center;
     justify-content: space-between;
     padding: 0;
    
}

li {
    color:black;
    list-style-type: none;
}

.navbar :first-child {
    
    margin-left: 20px;
}
        
@media all and (max-width: 865px) {
    .navbar {
        display: inline-block;
        border: 1px solid black; 
        padding-right: 20px;
        padding-bottom: 10px;
        margin-left: 20px;
    }
    
}
