.navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

li {
    text-decoration: none;
    color:black;
    margin-right: 2rem;
}

.navbar :first-child {
    margin-right: auto;
   margin-left: 10px;
}
        
@media all and (max-width: 865px) {
    .navbar {
        display: inline-block;
        border: 1px solid black; 
        padding-right: 30px;
        margin-left: 20px;
    }
    
}
